.blog-detail {
  max-width: 100%; 
  width: 100%;
  margin: 0; 
  padding: 20px; 
  box-sizing: border-box;
  background-color: #f4f4f4; 
}

.blog-detail h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #333; /* Adjust text color for readability */
}

.blog-date {
  font-size: 0.9rem;
  color: #888;
  margin-bottom: 20px;
}

.blog-content {
  max-width: 100%; 
  width: 100%;
  margin: 0 auto; /* Center the content horizontally */
  padding: 20px;
  box-sizing: border-box;
  background-color: #f8faf9; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.download-section,
.source-code-section {
  margin-top: 30px;
}

.download-section h3,
.source-code-section h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #333; 
}

.download-link,
.source-code-link {
  color: #0056b3;
  text-decoration: none;
  font-size: auto;
}

.download-link:hover,
.source-code-link:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}