/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: linear-gradient(180deg, #e6e6fa, #f8f9fc);
  margin: 0;
  padding: 0;
  color: #333;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 40px 20px 30px;
  border-radius: 8px;
  background: linear-gradient(to bottom, #e6e6fa, #ffffff);
  padding-bottom: 50px;
  margin-bottom: 10px;
}

.hero-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-content h2 {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  
}

.hero-content p {
  margin-bottom: 10px;
}

.slogan-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.slogan {
  font-family: 'Pacifico', cursive;
  font-size: 1.4rem;
  color: #6b46c1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.floating-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Sections */
.section {
  margin-top: 40px;
}

.section-content {
  margin-left: 0;
  padding-left: 0;
}

h2 {
  font-size: 1.5rem;
  color: #007b00;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: none;
}

p {
  margin-bottom: 20px;
}

ul {
  margin: 0;
  padding-left: 40px;
  list-style-type: disc;
}

ul li {
  margin-bottom: 10px;
  line-height: 1.6;
}

/* Work Experiences */
.work-experience {
  margin-bottom: 30px;
}

.work-experience h4 {
  font-size: 1.rem;
  font-weight: bold;
  margin: 5px 0;
}

.divider {
  border: none;
  border-top: 2px solid #ddd;
  margin: 20px 0;
  width: 100%;
}

/* Skills */
.about-skills {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.about-skill {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  background: #f9f9f9;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
