/* General Header Styles */
.header {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgb(197, 193, 193);
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Navigation Container */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 60px;
  margin: auto;
}

.nav-menu li {
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.nav-menu li a {
  text-decoration: none;
  color: inherit;
}

.nav-menu li:hover p,
.nav-menu li:hover a {
  color: #fff; 
  background: linear-gradient(90deg, #DA7C25, #B923E1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Navigation Connect Button */
.nav-connect {
  padding: 15px 30px;
  border-radius: 50px;
  background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1);
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-connect a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.nav-connect a:hover {
  text-decoration: underline;
}

.nav-connect:hover {
  transform: scale(1.05);
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 4px;
  transition: all 0.3s ease;
}

.hamburger.active div:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active div:nth-child(2) {
  opacity: 0;
}

.hamburger.active div:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Mobile-specific Styles */
@media screen and (max-width: 768px) {
  .nav-container {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(197, 193, 193);
    padding: 20px;
    border-top: 1px solid #ccc;
  }

  .nav-container.active {
    display: flex;
  }

  .nav-menu {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .nav-menu li {
    width: 100%;
  }

  .nav-menu li img {
    display: block;
  }

  .hamburger {
    display: flex;
  }

  .nav-connect {
    margin-top: 20px;
    align-self: center;
  }
}
